<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Dripping coffee labs is the one place solution to turn your Digital business idea into a full scale system. Be it a mobile or web app, SaaS, or any other solution, we have the skillset and expertise to turn your ideas into remarkable products.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
