<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
<section id="footer" class="bg-dark">
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h3 text-white">Dripping Coffee Labs Pvt. Ltd.</h5>
                    <p class="small text-muted mb-0">CIN: U72900MP2021PTC056423</br>GSTIN: 23AAICD5724D1Z0
                    </br>Address:
                    </br>Mumbai: Raheja Platinum, Sag Baug Road, off, Andheri - Kurla Rd, Marol, Andheri East, Mumbai, Maharashtra 400059
                    </br>Indore: 4th floor, Apollo Premier, Indore, Madhya Pradesh, India, 452001</p>
                    <p class="small text-muted mb-0">&copy; Copyrights 2021-2022. All rights reserved. <a class="text-primary" href="#">Drippingcoffeelabs.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul> -->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul> -->
                </div>
                <div class="col-lg-4 col-md-6">
                    
                    <!-- <h5 class="text-white mb-3">Newsletter</h5> -->
                    <p class="text-muted"></br>Feel free to reach us at:</br>
                        <a href="mailto:info@drippingcoffeelabs.com">info@drippingcoffeelabs.com</a></br>
                        or give us a call at</br>
                        +91 8149579699
                    </p>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </footer>
</section>
