<section class="bg-primary" style="background-color: #b97250 !important;">
    <div class="container">
        <!-- <div class="row"> -->
            <div class="text-center">
                <h1>For the Love of Space Exploration</h1>
                <p>This page is dedicated to all the Space buffs, everyday we share some interesting space trivia with related mesmerising picture coming directly from the Nasa Server.</p>
                <h2 id="title"></h2>
                <img id="photo"></img>
                <iframe id="video" width="420" height="315"> </iframe>
                </br>
                <p id="explanation"></p>
                <a id="hd_photo" target="_blank">Checkout photo in high res</a>
            </div>
        <!-- </div> -->
    </div>
</section>

<script>
    fetch("https://ec2-13-233-92-230.ap-south-1.compute.amazonaws.com/api/apod", { method: 'GET' })
    .then(response => response.text())
    .then(result => {
        const json = JSON.parse(result);
        document.getElementById('title').textContent = json.title
        document.getElementById('explanation').textContent = json.explanation
        if(json.media_type === 'image'){
            document.getElementById('photo').src = json.url
            document.getElementById('hd_photo').href = json.hdurl
            
            document.getElementById('video').remove()
        }
        if(json.media_type === 'video'){
            document.getElementById('video').src = json.url

            document.getElementById('photo').remove()
            document.getElementById('hd_photo').remove()
        }
    })
    .catch(error => console.log('error', error));
</script>